@import "tailwindcss";

@layer base {
  :root {
    --font-serif: "Playfair Display", serif;
    --font-sans: "Inter", sans-serif;

    --color-sakura-bg: #e7dac4;
    --color-sakura-text: #8d7546;
    --color-sakura-accent: #87ba60;
  }
}

:root {
  --background: var(--color-sakura-bg);
  --foreground: var(--color-sakura-text);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .glass-pill {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.049);
  }

  .arch-nav {
    background-color: #f5f2ed;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  }
}